<div class="hero">
    <div class="hero__content">
        <h1 class="hero__title hx-mt-2 hx-text-center hx-tracking-tight hx-text-slate-900 dark:hx-text-slate-100">
            Stupidly easy tech for Stoopid people,
            <span class="hero__title__gradient">By Stoopid people</span>
        </h1>
        <p class="hero__credit dark:hx-text-slate-300 hx-text-slate-700 hx-mt-2">- <a target="_blank" href="https://github.com/Stiffpixels">Muzammil</a> & <a target="_blank" href="https://github.com/Kingcrusher9764">Vikrant</a></p>
        <p class="hero__description dark:hx-text-slate-300 hx-text-slate-700">
            Get the best dev experience while also not
            compromising performance in your web apps, Explore below.
        </p>
    </div>
</div>
